out/
.vscode/
/controller/.idea/
/controller/.dart_tool/
/controller/DS_Store
/controller/build/*
.DS_Store
/controller/.flutter-plugins
/controller/.packages
/controller/.flutter-plugins-dependencies
/controller/.monarch
.idea/

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace